

<div [ngSwitch]="auth?.currentUser?.get('role')">
    
  <ion-list  *ngSwitchCase='"admin"'>
    <button menuClose ion-item *ngFor="let p of adminPages" (click)="openPage(p)">
      {{p.title}}
    </button>
  </ion-list>

  <ion-list  *ngSwitchCase='"driver"'>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button>
  </ion-list>

  <ion-list  *ngSwitchCase='"pharmacy"'>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button>
  </ion-list>

  <ion-list  *ngSwitchDefault>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button>
  </ion-list>

</div>
